# Mon tout premier Notebook

In [ ]:
a = 2

In [2]:
a

2

In [3]:
# ceci est un commentaire

# 1. Comment faire un Markdown

* utiliser esc pour pouvoir etre en mode edition de cellule
* appuyer sur M pour changer en markdown \  Y pour changer en code
* run avec shift+ Enter

### les sous-titres se formes en rajoutant des dièses

- liste1
- liste2
- liste3

je peux ecrire du texte normal avec du **gras** ou en *italique* ou les ***deux***

# ajouter des cellules
* en haut : esc+ A 
* en bas : esc+B

# supprimer des cellules
* double appui sur D (DD)

# ajouter des balises html

<strong>j'aime</strong>les haricots verts<br><p> mais pas trop les <i>raisins</i> secs</p>
<div>
    <img src="./td1_ressources/raisins-secs.jpg" width="300" align="left">
</div>

### inclure une vidéo ?

<video height="400" align="left" controls src="./td1_ressources/covid19.mp4" style="margin-left: auto; margin-right: auto; display: block;"/>

# 2. Passons au code

en python tout est objet !

## 2.1 les listes

In [6]:
uneliste = []
print(uneliste)

[]

In [7]:
dir(uneliste)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [9]:
uneliste = list()

In [10]:
uneliste

[]

elements de type differents dans une liste

In [11]:
uneliste = [2,3,4,"a"]
uneliste

[2, 3, 4, 'a']

je peux accéder aux méthodes et attributs de tout objet en python

In [12]:
uneliste.append(3)

In [13]:
uneliste

[2, 3, 4, 'a', 3]

après le '.' appui sur Tab pour les options

second appui sur Tab ou shift+tab pour plus d'infos

In [14]:
uneliste.reverse()

In [15]:
uneliste

[3, 'a', 4, 3, 2]

In [16]:
uneliste=[3,2,4,5]

In [17]:
uneliste

[3, 2, 4, 5]

In [18]:
uneliste.sort()

In [19]:
uneliste

[2, 3, 4, 5]

Parcourir une liste

Slicing

In [20]:
uneliste=[1,2,3,4,5,6,7,8]

In [24]:
uneliste[1:5+1]

[2, 3, 4, 5, 6]

Prendre tous les éléments

In [22]:
uneliste[:] #uneliste

[1, 2, 3, 4, 5, 6, 7, 8]

In [41]:
uneliste[2:4:2]

[3]

accéder au dernier élément

In [42]:
uneliste[-1]

8

In [43]:
uneliste[-4:-1]

[5, 6, 7]

longueur de liste

In [44]:
len(uneliste)

8

In [49]:
list(range(1,8+1))

[1, 2, 3, 4, 5, 6, 7, 8]

In [57]:
uneliste[2] = 3456789

In [58]:
uneliste

[1, 2, 3456789, 4, 5, 6, 7, 8]

### les tuples

In [50]:
untuple = tuple()

In [51]:
untuple

()

In [54]:
untuple = (1,2,3,4,5,6,7,8)
untuple

(1, 2, 3, 4, 5, 6, 7, 8)

In [55]:
untuple = ("a",2)
untuple

('a', 2)

In [56]:
untuple[0]

'a'

In [60]:
try:   
    untuple[1] = 35
except Exception as e:
    print(e)

'tuple' object does not support item assignment

## les mutables / immutables

In [25]:
a = 4

In [26]:
id(a)

4474234384

In [27]:
y = 4

In [28]:
id(y)

4474234384

In [29]:
a+=1

In [30]:
id(a)

4474234416

> sur une liste

In [44]:
liste = [2,3,'a']

In [45]:
liste

[2, 3, 'a']

In [46]:
id(liste)

4512795848

In [47]:
def change(une_liste_en_param):
    une_liste_en_param+=[13]

In [48]:
change(liste)

In [49]:
liste

[2, 3, 'a', 13]

In [50]:
id(liste)

4512795848

### les sets

In [65]:
set([1,2,3])

{1, 2, 3}

In [67]:
try:
    set(3)
except Exception as e:
    print(e)

'int' object is not iterable

In [68]:
set(range(1,3))

{1, 2}

In [69]:
un_set = set([1,2,3,4,5])
un_autre_set = set([3,2,9,1,4])

* elements en commun

In [70]:
un_set & un_autre_set

{1, 2, 3, 4}

* tous les elements des 2

In [71]:
un_set | un_autre_set

{1, 2, 3, 4, 5, 9}

* elements distincts (l'un pas dans l'autre)

In [74]:
un_set ^ un_autre_set

{5, 9}

* elements distincts de l'un par rapport à l'autre

In [75]:
un_set - un_autre_set

{5}

In [76]:
un_autre_set - un_set

{9}

### les dictionnaires

un dictionnaire c'est un ensemble de clés:valeurs

In [77]:
mondico = dict()

In [78]:
mondico

{}

In [79]:
mondico = {}

In [80]:
mondico

{}

In [81]:
mondico = { 
    1: "moi",
    2: "toi",
    3: "moi à nouveau",
    4: "nous"
}

In [57]:
mondico

{1: 'moi', 2: 'toi', 3: 'moi à nouveau', 4: 'nous'}

In [58]:
dico_des_contacts = {
    "Marie": "0666102030",
    "René" : "0710212121",
    "Julien": "0820202020"
}

accéder aux valeurs du dico

In [59]:
dico_des_contacts["Marie"]

'0666102030'

In [60]:
mondico[3]

'moi à nouveau'

set des données dans le dico

In [61]:
mondico[3] = "finalement non"

In [62]:
mondico

{1: 'moi', 2: 'toi', 3: 'finalement non', 4: 'nous'}

creer une nouvelle clé

In [63]:
mondico["Jean-Yves"] = "987654"

In [64]:
mondico

{1: 'moi', 2: 'toi', 3: 'finalement non', 4: 'nous', 'Jean-Yves': '987654'}

In [76]:
try:
    dico_des_contacts = {
        uneliste : "123"
    }
except:
    print("ça n'a pas marché")

ça n'a pas marché

supprimer une clé

In [77]:
del mondico["Jean-Yves"]

In [78]:
mondico

{1: 'moi', 2: 'toi', 3: 'finalement non', 4: 'nous'}

### chaines de caracteres

In [79]:
voiciunstring = "hello-world"

In [80]:
voiciunstring

'hello-world'

In [81]:
voiciunstring.capitalize()

'Hello-world'

In [82]:
voiciunstring.upper()

'HELLO-WORLD'

In [83]:
voiciunstring.lower()

'hello-world'

In [84]:
voiciunstring.replace('l', 'a')

'heaao-worad'

slicer une chaine de caracteres

In [86]:
voiciunstring[3]

'l'

In [87]:
voiciunstring[-1]

'd'

In [88]:
voiciunstring[1:5]

'ello'

In [89]:
voiciunstring[1:10:2]

'el-ol'

nombre d'occurences

In [90]:
voiciunstring.count("l")

3

### boolean

In [91]:
e = bool()

In [93]:
e

False

In [94]:
e = True

In [95]:
e

True

tester que **e** soit égal (pas assignement)

In [96]:
e==True

True

In [98]:
a = 5
b = 6
c = 5
print( a == 5)
print( a == b)
print( a == c)

True
False
True

### les boucles

In [100]:
a=3
while a<10:
    a+=1
    print(a)

4
5
6
7
8
9
10

In [103]:
for a in range(10):
    print(a)

0
1
2
3
4
5
6
7
8
9

In [105]:
for element in ["a", 3, 45]:
    print(element)

a
3
45

In [106]:
for i in range(2,5):
    print(uneliste[i])

3456789
4
5

boucler sur un dico

In [108]:
dico_des_contacts

{'Marie': '0666102030', 'René': '0710212121', 'Julien': '0820202020'}

In [112]:
for element in dico_des_contacts.keys():
    print(element)

Marie
René
Julien

In [110]:
for element in dico_des_contacts.values():
    print(element)

0666102030
0710212121
0820202020

In [115]:
for element in dico_des_contacts:
    print(element)
    print(dico_des_contacts[element])

Marie
0666102030
René
0710212121
Julien
0820202020

In [114]:
for element in enumerate(dico_des_contacts.values()):
    print(element)

(0, '0666102030')
(1, '0710212121')
(2, '0820202020')

In [116]:
for tuple_ in dico_des_contacts.items():
    print(tuple_)

('Marie', '0666102030')
('René', '0710212121')
('Julien', '0820202020')

### les fonctions

definition de fonction

In [123]:
def mafonction(a):
    return a**2

appel de fonction

In [118]:
mafonction(9)

81

pour des fonctions super courtes comme ça on peut utiliser lambda

In [119]:
mafonction = lambda x: x**2

In [120]:
mafonction(a)

81

mettre des params par défauts pour la fonction

In [121]:
def mafonction2(a=5):
    return a**2

In [124]:
mafonction()

TypeError: mafonction() missing 1 required positional argument: 'a'

In [125]:
mafonction2()

25

Unpacking

In [130]:
x, y = (2, 3)

In [131]:
x

2

In [132]:
y

3

In [134]:
x,y = tuple_[0], tuple_[1]

In [135]:
x

1

In [136]:
y

2

Unpacking avec une fonction

In [143]:
def mafonction3(a, b, c):
    return a*2, b-3, c+28

In [139]:
tuple_ = mafonction3(4,6)

In [140]:
tuple_

(8, 3)

In [145]:
x, y, z = mafonction3(4,6, 7)

In [146]:
print(x)
print(y)

8
3

In [147]:
print(z)

35

Unpacking avec les dicos

In [150]:
for cle, valeur in dico_des_contacts.items():
    print(cle)
    print(valeur)

Marie
0666102030
René
0710212121
Julien
0820202020

### list comprehension

In [153]:
[ x **2 for x in uneliste ]

[1, 4, 11949390190521, 16, 25, 36, 49, 64]

In [156]:
uneliste

[1, 2, 3456789, 4, 5, 6, 7, 8]

In [157]:
[ element for element in uneliste if element>7]

[3456789, 8]

In [159]:
[ x**2 for x in uneliste if x>7]

[11949390190521, 64]

In [161]:
[ x**2 if x>7 else x-4 for x in uneliste]

[-3, -2, 11949390190521, 0, 1, 2, 3, 64]

In [162]:
unelistemodifiee = [ x **2 for x in uneliste ]

In [163]:
print(uneliste)
print(unelistemodifiee)

[1, 2, 3456789, 4, 5, 6, 7, 8]
[1, 4, 11949390190521, 16, 25, 36, 49, 64]

In [92]:
[x+y for x in [2,3,4] for y in [10,100,1000]]

[12, 102, 1002, 13, 103, 1003, 14, 104, 1004]

### dict comprehension

In [164]:
dico_des_contacts

{'Marie': '0666102030', 'René': '0710212121', 'Julien': '0820202020'}

In [167]:
{ cle:valeur for cle,valeur in dico_des_contacts.items()}

{'Marie': '0666102030', 'René': '0710212121', 'Julien': '0820202020'}

In [171]:
mondico2 = {"a":1, "b":2, "c":3}
mondico2

{'a': 1, 'b': 2, 'c': 3}

In [170]:
{ cle:valeur*2 for cle, valeur in mondico2.items()}

{'a': 2, 'b': 4, 'c': 6}

In [173]:
{ cle:valeur*2 for cle, valeur in mondico2.items() if cle=='b'}

{'b': 4}

In [175]:
{ cle:valeur*2 for cle, valeur in mondico2.items() if valeur> 1}

{'b': 4, 'c': 6}

### exercice: prendre que les numéros de téléphones pour les prénoms qui commencent par la lettre R

In [179]:
dico_des_contacts['Renard'] = "0678899099"

In [180]:
dico_des_contacts

{'Marie': '0666102030',
 'René': '0710212121',
 'Julien': '0820202020',
 'Renard': '0678899099'}

In [182]:
{ cle:valeur for cle, valeur in dico_des_contacts.items() if cle[0] == "R" }

{'René': '0710212121', 'Renard': '0678899099'}

In [183]:
{ cle:valeur for cle, valeur in dico_des_contacts.items() if cle.startswith("R")}

{'René': '0710212121', 'Renard': '0678899099'}

In [184]:
dico_des_contacts['remi'] = "067234099"

In [186]:
{ cle:valeur for cle, valeur in dico_des_contacts.items() if cle.lower().startswith("r")}

{'René': '0710212121', 'Renard': '0678899099', 'remi': '067234099'}

### Classes

In [187]:
a="hello-world"

In [188]:
a

'hello-world'

In [189]:
a+"bonjour"

'hello-worldbonjour'

In [94]:
class Oeuvre:
    """ Classe définissant une Oeuvre 
        Attributs: 
          param1
          param2
        Methodes:
          method1
          method2
        Return 
          une oeuvre"""
    
    def __init__(self, auteur, titre, date):
        self.auteur = auteur
        self.titre  = titre
        if date.count('/') == 2:    
            self.date = date
        else:
            self.date = "01/01/2019"
        # self.date = date if date.count('/')==2 else "01/01/2019"
    

    def __str__(self):
        output = "\nAuteur : "     + self.auteur +\
            "\nTitre : "           + self.titre +\
            "\nConçu à la date : " + self.date
        return output

In [95]:
uneOeuvre = Oeuvre(auteur="Luc", titre="Cours avec IIM", date="12/11/2019")

In [96]:
dir(uneOeuvre)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'auteur',
 'date',
 'titre']

In [97]:
uneOeuvre.auteur

'Luc'

In [98]:
uneOeuvre.date

'12/11/2019'

In [99]:
uneOeuvre.titre

'Cours avec IIM'

In [100]:
print(uneOeuvre)

Auteur : Luc
Titre : Cours avec IIM
Conçu à la date : 12/11/2019

## inheritance = heritage de classes

In [101]:
class Sculpture(Oeuvre):
    
    def __init__(self, auteur, titre, date, materiau):
        super().__init__(auteur, titre, date)
        self.materiau = materiau
    
    def __str__(self):
        output = super().__str__()
        return output + "\nMateriau : "+ self.materiau

In [102]:
class Livre(Oeuvre):
    def __init__(self, auteur, titre, date, nb_pages, categorie):
        super().__init__(auteur, titre, date)
        self.nb_pages = nb_pages
        self.categorie = categorie
    def __str__(self):
        output = super().__str__()
        return output + "\nNb de Pages : "+ str(self.nb_pages) +\
                        "\nCategorie de livre : " +self.categorie

In [103]:
sculpture = Sculpture("Rodin", "Le Penseur", "02-1234", "Bronze")

In [104]:
sculpture.auteur

'Rodin'

In [105]:
sculpture.date

'01/01/2019'

In [106]:
sculpture.materiau

'Bronze'

In [107]:
print(sculpture)

Auteur : Rodin
Titre : Le Penseur
Conçu à la date : 01/01/2019
Materiau : Bronze

In [224]:
unLivre = Livre("Victor Hugo", "Les Misérables", "01/01/1862", 265, categorie="Drame")

In [225]:
print(unLivre)

Auteur : Victor Hugo
Titre : Les Misérables
Conçu à la date : 01/01/1862
Nb de Pages : 265
Categorie de livre : Drame

### retour vis à vis des listes....

In [228]:
liste_ = [uneOeuvre, sculpture, unLivre, 5, "test"]

In [229]:
liste_

[<__main__.Oeuvre at 0x10adcad68>,
 <__main__.Sculpture at 0x10adca128>,
 <__main__.Livre at 0x10adb9a58>,
 5,
 'test']

In [230]:
for element in liste_:
    print( element )

Auteur : Luc
Titre : Cours avec IIM
Conçu à la date : 12/11/2019

Auteur : Rodin
Titre : Le Penseur
Conçu à la date : 01/01/2019
Materiau : Bronze

Auteur : Victor Hugo
Titre : Les Misérables
Conçu à la date : 01/01/1862
Nb de Pages : 265
Categorie de livre : Drame
5
test

## args d'une fonction sous forme de liste

In [251]:
def fonction(a,b,c,d=10):
    return a*b+c+d

In [232]:
fonction(1,2,3,4)

10

In [246]:
liste=[1,2,3]

In [247]:
fonction(*liste)

16

In [263]:
dico_de_params = {'b':10,'c':20, 'd':150, 'a':30}

In [264]:
fonction(**dico_de_params)

470

## comment connaitre le type

In [265]:
type(2)

int

In [266]:
type("hello")

str

In [267]:
type(sculpture)

__main__.Sculpture

In [268]:
type(uneOeuvre)

__main__.Oeuvre

In [269]:
[type(x) for x in liste_]

[__main__.Oeuvre, __main__.Sculpture, __main__.Livre, int, str]

## Comment synchro avec GitHub

In [270]:
!ls

Mon_Premier_Notebook.ipynb capture_ecran.png

In [271]:
!echo salut

salut

In [272]:
!git init

Initialized empty Git repository in /Users/lucbertin/Desktop/IIM/.git/

In [273]:
!git add Mon_Premier_Notebook.ipynb

In [276]:
!git commit -m "test avec les etudiants de l'IIM"

[master (root-commit) a880540] test avec les etudiants de l'IIM
 1 file changed, 3023 insertions(+)
 create mode 100644 Mon_Premier_Notebook.ipynb

In [278]:
!git remote add origin git@github.com:Luc-Bertin/TD_IIM.git

In [279]:
!git remote -v

origin	git@github.com:Luc-Bertin/TD_IIM.git (fetch)
origin	git@github.com:Luc-Bertin/TD_IIM.git (push)

In [280]:
!git push origin master

fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

## Importer des fichiers ou libraires

In [285]:
import pandas as pd

In [286]:
import credentials_intagram as insta